<p>
  <strong>Повне ім'я:</strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong>Магазин:</strong>
  <%= @employee.shop_id %>
</p>

<p>
  <strong>Відділ :</strong>
  <%= @employee.department.role %>
</p>

<%= link_to 'Редагувати', edit_employee_path(@employee) %> |
<%= link_to 'Назад', employees_path %>
