     <div class="col-lg-6 col-lg-offset-3 centrate">
<h2>Форма реєстрації</h2>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 'placeholder':'Email', 'style':'width:100%;' %>
  </div>
  <br>
  <%= f.fields_for :employee do |ff| %>
  <div class="field">
      <%= ff.text_field :full_name, 'placeholder':'Повне ім\'я', 'style':'width:100%;' %>
  </div>
  <br>
  <div class="field">
      <%= ff.select(:department_id) do %>
        <% @departments.each do |dep|%>
        <option value="<%=dep.id%>"> <%=dep.role%> </option>
        <% end %>
      <% end %>
  </div>
  <% end %>

  <br>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", 'style':'width:100%;', 'placeholder':'Пароль (мінімум '+@minimum_password_length.to_s+' символів)' %>
  </div>
  <br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", 'style':'width:100%;', 'placeholder':'Підтвердження паролю'  %>
  </div>
  

  <br>
  <div class="actions">
    <%= f.submit "Зареєструватись", 'style':'width:100%', 'class': 'btn btn-success' %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
<style>
select {
width: 100%;
}
</style>
</div>
