<p>
  <strong>Назва:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @item.descripton %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Редагувати', edit_item_path(@item) %> |
<%= link_to 'Назад', items_path %>
