<div class="receipt-form">
  <%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :shop_id %>
    <%= f.hidden_field :employee_id %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width:10%">#</th>
          <th scope="col" style="width:80%">Назва</th>
          <th scope="col" style="width:10%">Ксть.</th>
          <th scope="col" style="width:10%">Ціна</th>
          <th scope="col" style="width:10%">Вартість</th>
        </tr>
      </thead>
      <tbody class="receipt-items">
        <%= f.fields_for :receipt_items do |builder|%>
        <%= render partial: "receipt_item_fields", locals: {f: builder} %>
        <% end %>
      </tbody>
    </table>

    <div class="receipt-total"> Сума: <b><span class="receipt-total-value">0.0</span></b></div>
    <span style="float:left;padding-left:30px;">
      <%= link_to_add_more_fields "Додати", f, :receipt_items, ".receipt-items" %></span><br>
    <%= f.submit %>
  <% end %>
</div>

<style>
  .receipt-form {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    border-style: solid;
  }

  .receipt-form .buttons {
    display: flex;
    flex-direction: hirozontal;
  }

  .receipt-items {
    min-height: 300px;
    background-color: #eeeeee;
  }

  .receipt-total {
    float: right;
    padding-right: 20px;
  }
</style>
