<p id="notice"><%= notice %></p>

<h1>Список замовлень <%= @shop ? "для магазину: "+ @shop.name : "для всіх магазинів" %></h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Магазин</th>
      <th>Працівник</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= receipt.shop.name %></td>
        <td><%= receipt.employee.full_name %></td>
        <td><%= link_to 'Показати', receipt %></td>
        <td><%= link_to 'Редагувати', edit_receipt_path(receipt) %></td>
        <td><%= link_to 'Видалити', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нове замовлення', new_receipt_path %>
