<p id="notice"><%= notice %></p>

<div class="receipt-show">
<br>
  <div class="header">
  <b class="item">Рахунок #<%=@receipt.id%></b>
  <span class="item-right">
    Магазин: <b><%=@receipt.shop.name%></b> <br>
    Працівник: <b><%=@receipt.employee.full_name%></b><br>
    </span>
  
  </div> 
  <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width:10%">#</th>
          <th scope="col" style="width:80%">Назва</th>
          <th scope="col" style="width:10%">Ксть.</th>
          <th scope="col" style="width:10%">Ціна</th>
          <th scope="col" style="width:10%">Вартість</th>
        </tr>
      </thead>
      <tbody class="receipt-items">
         <% @receipt.receipt_items.each_with_index do |receipt_item, index|%>
          <tr class="receipt-row">
            <th scope='row' style='width:10%' class="index"><%= index + 1%></th>
            <td><%=receipt_item.item.name%></td>
            <td><%=receipt_item.item_count%></td>
            <td><%=receipt_item.item.price%></td>
            <td><%=receipt_item.item.price * receipt_item.item_count%></td>
          </tr>
         <% end %>
      </tr>
  </table>

  <div class="total" style="float:right;">
     Сума: <b><%=@receipt.receipt_items.inject(0) { |sum, receipt_item| sum + receipt_item.item.price * receipt_item.item_count }%></b>
  </div>
  <span style="float:left;">
    <%= link_to 'Редагувати', edit_receipt_path(@receipt) %>
  </span>
  <br>
</div>

<style>

.receipt-show {
    min-width: 200px;
    max-width: 800px;
    margin: 0 auto;
    border-style: solid;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .item-right {
    text-align: right;
  }

</style>
